
@use '../globals/utilities' as u;
@use '../globals/fonts' as font;

.skip-link {
    background-color: transparent;
    padding: .5em 1em;
    position: absolute;
    top: 0;
    left: 0;

    &:not(:focus, :active) {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    }
}

.header {
    background-color: var(--bg-2);
    font-size: clamp(var(--fs-100), 0.84rem + 0.18vw, var(--fs-200));
    letter-spacing: .05em;
    position: sticky;
    top: 0;
    z-index: 9;

    @include u.breakpoint-up(large) {
        text-transform: uppercase;
    }
}



.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-block: var(--space-500);
}

.logo {
    width: 4.375rem;

    @include u.breakpoint-up(large) {
        width: 8rem;
    }

    &:is(:hover) {
        opacity: .9;
        transition: ease-in .25s;
    }
}


.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include u.breakpoint-up(medium) {
        flex-direction: row;
        gap: 40px;
    }
}

.navbar__link {
    
    &::after {
        content: "";
        display: none;
        height: 3px;
        background: linear-gradient(to right, var(--gradient-3), var(--gradient-4) 80%);
        opacity: 0;
        transition: ease-in .25s;

        @include u.breakpoint-up(large) {
            display: block;
        }
    }

    &:is(:hover, :focus-visible)::after {
        opacity: 1;
    }
}

.navbar:has(.navbar__menu__open[aria-expanded="true"]) {
    .navbar__menu {
        translate: 0 0;
    }
    .navbar__menu__overlay {
        opacity: 1;
    }
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-700);
    background-color: var(--bg-2);
    
    @include u.breakpoint-down(medium) {
        flex-direction: column;
        gap: var(--space-1000);
        position: fixed;
        inset: 0 0 auto auto;
        width: 100%;
        padding: var(--space-200) var(--space-600) var(--space-1000);
        border-radius: 0 0 20px;
        box-shadow: 0 12px 12px 0 var(--menu-shadow);
        translate: 0 -105%;
        transition: translate .5s ease-in-out;
    }

    
}

.navbar__menu__overlay {

    @include u.breakpoint-down(medium) {
        position: fixed;
        inset: 0;
        background-color: var(--menu-overlay);
        pointer-events: none;
        opacity: 0;
    }   
}

:is(.navbar__menu__open, .navbar__menu__close) {
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;

    @include u.breakpoint-up(medium) {
        display: none;
    }
}

.navbar__menu__close {
   margin-inline-start: auto;
}

.home-link {
    @include u.breakpoint-up(medium) {
        display: none;
    }
}